.about_us{
    margin-top: 119px;
}
.about-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    img{
        width: 555px;
        height: 500px;
        border-radius: 35px;
    }
}
.about{
    width: 488px;
    height: 315px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    h3{
        text-align: start;
        line-height: 40.63px;
        letter-spacing: 0;
        margin-top: 10px;
    }
    p{
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        opacity: .7;
        margin: 30px 0;
    }
    
}